
@mixin picture-left {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin picture-right {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.first-background {
  background-image: url('../img/designer_1.png');
  height: 1000px;
  @include picture-right;
  //@include media(sm);
}

.second-background {
  background-image: url("../img/2.png");
  height: 500px;
  @include picture-right
}

.third-background {
  background-image: url("../img/3.png");
  height: 500px;
  @include picture-left
}

.fourth-background {
  background-image: url("../img/4.png");
  height: 500px;
  @include picture-left
}

.fifth-background {
  background-image: url("../img/5.png");
  height: 500px;
  @include picture-left
}

.sixth-background {
  background-image: url("../img/6.png");
  height: 500px;
  min-width: 300px;
  @include picture-left
}

.price-bckg {
  background-image: url("../img/Rectangle.png");
  background-size: 100%;
  background-position: inherit;
}

.icon {
  background-image: url("../img/icon2.png");
  height: 30px;
  @include picture-left
}