@import "colors";

button.dark-blue {
  background-color: $dark-blue;
  color: white;
}

button.outline-dark-blue {
  background-color: transparent;
  color: $dark-blue;
  border: 2px solid $dark-blue-second;
  box-sizing: border-box;
  border-radius: 2px;
}

button.medium-size {
  border: none;
  padding: 0.3em 5em 0.3em 5em;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
}

button.big-size {
  padding: 0.2em 3em 0.2em 3em;
  border: 2px solid $dark-blue;
  border-radius: 3px;
  font-size: 16px;
}
