@import "colors";

h1 {
  font-size: 50px;
  color: $dark-blue-second;
  line-height: 66px;
}

h3 {
  font-weight: 500;
  font-size: 36px;
  color: $dark-blue-second;
  line-height: 48px;
}

h4 {
  color: $dark-blue-second;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

h5 {
  color: $dark-blue-second;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
}

small {
  font-size: 16px;
  color: $dark-blue-second;
  line-height: 30px;
}
