@import "colors";


.title {
  font-weight: 900;
  color: $title-text;
  font-size: 26px;
  line-height: 38px;
}

.title-section {
  padding-left: 200px;
  padding-top: 100px;
}

.section {
  height: 100%;
  padding: 150px;
}

.section-image {
  padding-top: 100px;
}

.card-section {
  min-width: 700px;
}

.title-card {
  max-width: 300px;
  padding: 0;
}

.title-card2 {
  max-width: 350px;
  padding: 0;
}

.price-info {
  width: 500px;
  margin: 200px;
  text-align: center
}

.price {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
}