@import "backgrounds";


@media (max-width: 1400px) {
  .title-card2 {
    width: 300px;
  }
}

@media (max-width: 1280px) {
  .first-background {
    background-image: none;
    height: auto;
  }
  .title-section {
    padding: 50px;
  }
  .title-card2 {
    width: 200px;
  }
  .section {
    padding: 50px;
  }
}


@media (max-width: 1000px) {
  .second-background {
    background-image: none;
  }
  .title-card2 {
    width: 150px;
  }
}
